/*-- LABEL FONT --*/
.edge-label {
	-fx-font-size: 6px;
    -fx-font-family: "Verdana";	
}
.vertex {
	-fx-font-size: 8px;
    -fx-font-family: "Verdana";	
    	-fx-padding: 3px;
}

/*-- EDGE LINE COLOR / VERTEX BORDER COLOR --*/
.line-standard {
	-fx-stroke: rgb(170.0,170.0,170.0);
}
.line-red {
	-fx-stroke: rgb(255.0,0.0,0.0);
}
.line-lightred {
	-fx-stroke: rgb(255.0,155.0,155.0);
}
.line-green {
	-fx-stroke: rgb(0.0,255.0,0.0);
}
.line-lightgreen {
	-fx-stroke: rgb(155.0,255.0,155.0);
}
.line-darkgreen {
	-fx-stroke: rgb(0.0,100.0,0.0);
}
.line-blue {
	-fx-stroke: rgb(0.0,0.0,255.0);
}
.line-lightblue {
	-fx-stroke: rgb(175.0,215.0,230.0);
}
.line-darkblue {
	-fx-stroke: rgb(0.0,0.0,80.0);
}
.line-yellow {
	-fx-stroke: rgb(255.0,255.0,0.0);
}
.line-orange {
	-fx-stroke: rgb(255.0,165.0,0.0);
}
.line-orange {
	-fx-stroke: rgb(222.0,184.0,135.0);
}
.line-brown {
	-fx-stroke: rgb(222.0,184.0,135.0);
}
.line-black {
	-fx-stroke: rgb(0.0,0.0,0.0);
}
.line-gray {
	-fx-stroke: rgb(130.0,130.0,130.0);
}
.line-lightgray {
	-fx-stroke: rgb(215.0,215.0,215.0);
}
.line-violet {
	-fx-stroke: rgb(238.0,130.0,238.0);
}
.line-pink {
	-fx-stroke: rgb(255.0,192.0,203.0);
}
.line-turqoise {
	-fx-stroke: rgb(64.0,224.0,208.0);
}

/*-- VERTEX FILL COLOR --*/
.fill-standard {
	-fx-fill: rgb(170.0,170.0,170.0);
}
.fill-red {
	-fx-fill: rgb(255.0,0.0,0.0);
}
.fill-lightred {
	-fx-fill: rgb(255.0,155.0,155.0);
}
.fill-green {
	-fx-fill: rgb(0.0,255.0,0.0);
}
.fill-lightgreen {
	-fx-fill: rgb(155.0,255.0,155.0);
}
.fill-darkgreen {
	-fx-fill: rgb(0.0,100.0,0.0);
}
.fill-blue {
	-fx-fill: rgb(0.0,0.0,255.0);
}
.fill-lightblue {
	-fx-fill: rgb(175.0,215.0,230.0);
}
.fill-darkblue {
	-fx-fill: rgb(0.0,0.0,80.0);
}
.fill-yellow {
	-fx-fill: rgb(255.0,255.0,0.0);
}
.fill-orange {
	-fx-fill: rgb(255.0,165.0,0.0);
}
.fill-orange {
	-fx-fill: rgb(222.0,184.0,135.0);
}
.fill-brown {
	-fx-fill: rgb(222.0,184.0,135.0);
}
.fill-black {
	-fx-fill: rgb(0.0,0.0,0.0);
}
.fill-gray {
	-fx-fill: rgb(130.0,130.0,130.0);
}
.fill-lightgray {
	-fx-fill: rgb(215.0,215.0,215.0);
}
.fill-violet {
	-fx-fill: rgb(238.0,130.0,238.0);
}
.fill-pink {
	-fx-fill: rgb(255.0,192.0,203.0);
}
.fill-turqoise {
	-fx-fill: rgb(64.0,224.0,208.0);
}


/*-- LINESTYLES & THICKNESS--*/
/* cannot be in seperate classes, because thickness overrides dash-array */
.dotted-standard{
	-fx-stroke-dash-array: 1.0 5.0;
	-fx-stroke-width: 2.0;
}
.dotted-slight{
	-fx-stroke-dash-array: 1.0 5.0;
	-fx-stroke-width: 1.0;
}
.dotted-bold{
	-fx-stroke-dash-array: 1.0 5.0;
	-fx-stroke-width: 3.0;
}
.dotted-fat{
	-fx-stroke-dash-array: 1.0 5.0;
	-fx-stroke-width: 8.0;
}
.dashed-standard{
	-fx-stroke-dash-array: 8.0 2.0;
	-fx-stroke-width: 2.0;
}
.dashed-slight{
	-fx-stroke-dash-array: 8.0 2.0;
	-fx-stroke-width: 1.0;
}
.dashed-bold{
	-fx-stroke-dash-array: 8.0 2.0;
	-fx-stroke-width: 3.0;
}
.dashed-fat{
	-fx-stroke-dash-array: 8.0 2.0;
	-fx-stroke-width: 8.0;
}

/*-- ARROWHEAD THICKNESS--*/
thickness-standard {
	-fx-stroke-width: 2.0;
}
thickness-slight {
	-fx-stroke-width: 1.0;
}
thickness-bold {
	-fx-stroke-width: 3.0;
}
thickness-fat {
	-fx-stroke-width: 8.0;
}

