*{
	-slight: 0.5;
	-standard: 1.0;
	-bold: 2.0;
	-fat:3.0;
}

/*-- LABEL FONT --*/
.edge-label {
	-fx-font-size: 6.0px;
    -fx-font-family: "Verdana";	
}
.vertex {
	-fx-font-size: 8.0px;
    -fx-font-family: "Verdana";	
    	-fx-padding: 3.0px;
}

/*-- EDGE LINE COLOR / VERTEX BORDER COLOR --*/
.line-standard {
	-fx-stroke: -black;
}
.line-black {
	-fx-stroke: -black;
}
.line-white {
	-fx-stroke: -white;
}
.line-darkgrey {
	-fx-stroke: -grey-dark;
}
.line-grey {
	-fx-stroke: -grey;
}
.line-lightgray {
	-fx-stroke: -grey-light;
}
.line-blue {
	-fx-stroke: -blue;
}
.line-lightblue {
	-fx-stroke: -blue-light;
}
.line-red {
	-fx-stroke: -red;
}
.line-yellow {
	-fx-stroke: -yellow;
}
.line-orange {
	-fx-stroke: -orange;
}
.line-green {
	-fx-stroke: -green;
}

/*-- VERTEX FILL COLOR --*/
.fill-standard {
	-fx-fill: -black;
}
.fill-black {
	-fx-fill: -black;
}
.fill-white {
	-fx-fill: -white;
}
.fill-darkgray {
	-fx-fill: -grey-dark;
}
.fill-gray {
	-fx-fill: -grey;
}
.fill-lightgray {
	-fx-fill: -grey-light;
}
.fill-blue {
	-fx-fill: -blue;
}
.fill-lightblue {
	-fx-fill: -blue-light;
}
.fill-red {
	-fx-fill: -red;
}
.fill-yellow {
	-fx-fill: -yellow;
}
.fill-orange {
	-fx-fill: -orange;
}
.fill-green {
	-fx-fill: -green;
}

/*-- LINESTYLES & THICKNESS--*/
/* cannot be in seperate classes, because thickness overrides dash-array */
.dotted-standard{
	-fx-stroke-dash-array: 1.0 2.0;
	-fx-stroke-line-cap : round;
	-fx-stroke-width: -standard;
}
.dotted-slight{
	-fx-stroke-dash-array: 1.0 1.5;
	-fx-stroke-line-cap : round;
	-fx-stroke-width: -slight;
}
.dotted-bold{
	-fx-stroke-dash-array: 1.0 3.0;
	-fx-stroke-line-cap : round;
	-fx-stroke-width: -bold;
}
.dotted-fat{
	-fx-stroke-dash-array: 1.0 4.0;
	-fx-stroke-line-cap : round;
	-fx-stroke-width: -fat;
}
.dashed-standard{
	-fx-stroke-dash-array: 4.0 2.0;
	-fx-stroke-width: -standard;
}
.dashed-slight{
	-fx-stroke-dash-array: 4.0 1.5;
	-fx-stroke-width: -slight;
}
.dashed-bold{
	-fx-stroke-dash-array: 4.0 4.0;
	-fx-stroke-width: -bold;
}
.dashed-fat{
	-fx-stroke-dash-array: 4.0 5.0;
	-fx-stroke-width: -fat;
}
.through-standard{
	-fx-stroke-width: -standard;
}
.through-slight{
	-fx-stroke-width: -slight;
}
.through-bold{
	-fx-stroke-width: -bold;
}
.through-fat{
	-fx-stroke-width: -fat;
}

/*-- ARROWHEAD THICKNESS--*/
.thickness-standard {
	-fx-stroke-width: -standard;
	-fx-stroke-line-cap : round;
}
.thickness-slight {
	-fx-stroke-width: -slight;
	-fx-stroke-line-cap : round;
}
.thickness-bold {
	-fx-stroke-width: -bold;
	-fx-stroke-line-cap : round;
}
.thickness-fat {
	-fx-stroke-width: -fat;
	-fx-stroke-line-cap : round;
}

