.root {
	-black: #000000;
	-white: #ffffff;
	-grey-dark: #17181a;
	-grey: #2f3337;
	-grey-light: #27292d;
	-blue: #085fd1;
	-blue-light: #25d6f5;
	-red: #d7422c;
	-orange: #ff8e05;
	-yellow: #ffff00;
	-green: #51bd84;

	-fx-base: -grey;
	-fx-background: -grey;
    	-fx-control-inner-background: -grey;
    	-fx-control-inner-background-alt: -blue-light;
}

.logo-bg {
    	-fx-background-image: url("../../../../images/logo.png");
    	-fx-background-position: center;
    	-fx-background-repeat: no-repeat no-repeat;
    	-fx-background-size: 200, 200;
}

.icon-button{
	-fx-background-color: transparent;
    -fx-background-radius: 0.0;
    -fx-border-width: 0.0;
}

.toolbar {
	-fx-background-color: -grey-dark;
}

